<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cm.android.extpreference.sample">

    <application
            android:name="cm.android.preference.sample.MainApp"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
        <activity
                android:name="cm.android.preference.sample.MainActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name="cm.android.preference.ext.PreferenceProvider"
                android:authorities="${applicationId}.preference.provider"
                tools:replace="android:authorities"/>
    </application>

</manifest>
